.cardView {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  padding: 5px;
  border: solid 2px var(--buttonText-color);
  width: 90px;
  height: 90px;
  border-radius: 15px;
}

.cardView-container {
  background-color: var(--titleText-color);
  width: 20%;
  height: calc(width);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  border-radius: 15px;
}

.cardView-hidden {
  background-color: var(--title-color);
}

.cardView-selected {
  background-color: var(--highlight-color);
}

.cardView-discovered {
  background-color: var(--buttonText-color);
}
