.cardView {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  padding: 5px;
  border: solid 2px var(--buttonText-color);
  width: 90px;
  height: 90px;
  border-radius: 15px;
}

.cardView-container {
  background-color: var(--titleText-color);
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  border-radius: 15px;
}

.cardView-hidden {
  background-color: var(--title-color);
}

.cardView-selected {
  background-color: var(--highlight-color);
}

.cardView-discovered {
  background-color: var(--buttonText-color);
}

@media only screen and (min-width: 1000px) {
  .cardView {
    width: 110px;
    height: 110px;
    font-size: 70px;
  }

  .cardView-container {
    width: 140px;
    height: 140px;
  }
}

@media only screen and (max-width: 600px) {
  .cardView {
    width: 60px;
    height: 60px;
    font-size: 40px;
  }

  .cardView-container {
    width: 80px;
    height: 80px;
  }
}

@media only screen and (max-width: 300px) {
  .cardView {
    width: 45px;
    height: 45px;
    font-size: 20px;
  }

  .cardView-container {
    width: 65px;
    height: 65px;
  }
}
