.creditsView {
  width: 100%;
  height: 100%;
  background-color: var(--background-color);

  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  padding-top: 15%;
}

.creditsView-h3 {
  font-family: var(--subtitleText-font);
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: var(--buttonText-color);
}

.creditsView-h4 {
  font-family: var(--subtitleText-font);
  text-align: center;
  font-size: 38px;
  font-weight: bold;
  color: var(--buttonText-color);
}

@media only screen and (max-height: 800px) {
  .creditsView {
    padding-top: 10%;
  }

  .creditsView-h3 {
    font-size: 35px;
  }

  .creditsView-h4 {
    font-size: 30px;
  }
}

@media only screen and (max-height: 600px) {
  .creditsView {
    padding-top: 5%;
  }

  .creditsView-h3 {
    font-size: 25px;
  }

  .creditsView-h4 {
    font-size: 20px;
  }
}
