.homeView-elementsContainer {
  width: 100%;
  height: 100%;
  background-color: var(--background-color);

  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;

  transform: translateX(100vw);
}

.homeView-buttonsContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: var(--buttonText-color);
  padding: 20px;
}

.homeView-buttonsContainer div {
  width: 35%;
}

.logoContainer img {
  height: 600px;
}

@media only screen and (max-width: 600px) {
  .logoContainer img {
    height: 450px;
  }
}
