.playView-elementsContainer {
  width: 100%;
  height: calc(100% - var(--navigationContainer-height));
  background-color: var(--background-color);

  position: fixed;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;

  overflow-x: hidden;
  overflow-y: auto;
}

.playView-cardsContainer {
  /* max-width: 70%; */
  /* display: flex;
  
  align-content: center;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-around;
}

.playView-hudContainer {
  margin-top: 50px;
  margin-bottom: 20px;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.playView-text {
  height: 40px;
  width: 150px;
  /* background-color: var(--highlight-color); */
  color: var(--alternate-color);

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 30px;
  font-weight: bold;
  font-family: var(--subtitleText-font);
  border-radius: 25px;
  margin-top: 10px;
  padding: 5px;
}

.playView-reset {
  height: 50px;
  width: 150px;
  background-color: var(--buttonBackground-color);
  color: var(--buttonText-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 30px;
  font-weight: bold;
  font-family: var(--subtitleText-font);
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px;

  cursor: pointer;
}
