.scoresView {
  width: 100%;
  height: calc(100% - var(--navigationContainer-height));
  background-color: var(--background-color);

  position: fixed;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;

  overflow-x: hidden;
  overflow-y: auto;
}
